#section {
    margin-bottom: 2rem;
}
#printableSection {
    display: flex;
    width: 100%;
    height: 13rem;
    background-color: white;
    border: 1px solid #d1d5db;
}
#ticket_event_cover {
    height: 100%;
    width: 30%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/img/spacefest.png");
}
#info_box {
    width: 45%;
    height: 100%;
    padding: 1rem;
}
#content {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#info {
    display: flex;
    flex-direction: column;
}
#event_name {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
#edition {
    font-size: 1.4rem;
    font-weight: bold;
}
#date {
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
#calendar_icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}
#location {
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
}
#location_icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}
#qr {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left-width: 2px;
    border-style: dashed;
}
